@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap");

:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:RGBA(0,0,0,.3);
  --mainGrey:red;
  --darkGrey:#5f5e5e;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainTransition:all .3s ease-in-out;
  --mainSpacing:.3rem;

}

body{
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGrey)!important;
}